<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Number Form</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<div class="container">
    <h2>Enter Contact Number</h2>
    <form id="contactForm" method="post">
        <input type="text" id="contactPhoneNumber" name="contactPhoneNumber" placeholder="Contact phone number" required>
        <button type="submit">Continue</button>
    </form>
</div>

<script>
    document.getElementById('contactForm').addEventListener('submit', async function(event) {
        event.preventDefault();
        const contactPhoneNumber = document.getElementById('contactPhoneNumber').value;
        const pathParts = window.location.pathname.split('/');
        const phoneNumberId = pathParts[pathParts.length - 1];
        if (phoneNumberId) {
            try {
                const response = await fetch( `/phone-numbers/confirm/${phoneNumberId}`, {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ contactPhoneNumber: contactPhoneNumber })
                });

                if (response.ok) {
                    window.location.href = `/phone-numbers/candidate/${phoneNumberId}`;
                } else {
                    const errorData = await response.json();
                    const errorMessage = errorData.result.resultDesc;
                    alert(errorMessage);
                }
            } catch (error) {
                alert("An error occurred: " + error.message);
            }
        } else {
            alert("Phone number ID is missing.");
        }
    });
</script>
</body>
</html>
